extends layout

block content
  - var n = 0;
  h2 Chat
  each val in chats
    div.chatIndex
      a.titoloChat(href=`/chat/${val.id._serialized}`)=val.name
      if val.unreadCount != 0
        div.nonLetti=val.unreadCount
    hr
  
  while n < availablePages 
    a(href=`?p=${n++}`)=n
    |     