extends layout

block content
  h2 Chat
  each val in chats
    div.chatIndex
      a.titoloChat(href=`/chat/${val.id._serialized}`)=val.name
      if val.unreadCount != 0
        div.nonLetti=val.unreadCount
    hr